a{
    text-decoration: none;
}

.news-section {
    position: relative;
    top: 86px;
    width: 100%;
    min-height: 100vh;
    /* border: 3px solid red; */
}

.news-section .news {
    width: 80%;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 3px solid blue; */
}

.news-section .heading {
    text-align: center;
    padding: 10px;
    margin: 10px auto;
}

.news-section .heading h1 {
    font-family: "Libertinus Sans", sans-serif;
    font-size: 40px;
    /* color: rgba(27, 54, 93); */
    color: var(--primary-color);
}

.news-section .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 8px;
    /* border: 3px solid green; */
}

.news-section .card {
    height: 455px;
    width: 400px;
    margin: 30px;
    box-shadow: 2px 10px 2px 2px var(--primary-color);
}

.news-section .card img {
    width: inherit;
    height: 200px;
}

.news-section .card .title {
    color: var(--hover-color);
    /* font-weight: 900;
    font-size: 20px; */
    margin: 5px 10px;
}

.news-section .card .tagline {
    font-size: 13px;
    color: rgb(5, 65, 149);
    font-weight: 500;
    margin: 5px 10px;
}

.news-section .card .content {
    font-size: 15px;
    color: #1d1b1b;
    /* line-height: 1.4; */
    margin: 5px 10px;
}

.news-section .card a {
    text-decoration: none;
    padding: 5px 10px;
    margin: 15px 10px;
    background-color: rgb(25, 25, 225);
    color: #fff;
    font-size: 18px;
    border-radius: 10px;
}

.news-section .card a:hover {
    background-color: rgb(2, 2, 78);
    /* padding: 10px 20px; */
}

@media screen and (max-width: 980px) {
    .news-section .cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width: 740px) {
    .news-section .cards {
        grid-template-columns: repeat(1, 1fr);
    }
}